@import url('https://fonts.googleapis.com/css2?family=Khand:wght@300;400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Khand', sans-serif;
}

body{
    max-width: 1440px;
    background-color: whitesmoke;
}

.header{
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 32px;
    color: white;
    text-decoration: none;   
}

.navbar a{
    font-size: 18px;
    color: white;
    text-decoration: none;
    margin-left: 40px;
}

.navbar a:hover{
    color: #D4B17B;
}

.navbar .color1{
    color: #D4B17B;
}
.navbar .color2{
    color: #D4B17B;
}
.navbar .color3{
    color: #D4B17B;
}
.navbar .color4{
    color: #D4B17B;
}
.navbar .color5{
    color: #D4B17B;
}

.contenedor1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    min-height: 300px;
    background-color: whitesmoke;
    margin: 70px 0 10px 50px;
    padding: 20px;
}

.Lorem1{
    margin-top: 20px;
}

.botonn{
    margin-top: 20px;
    display: block;
    width: 150px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    background-color:#D4B17B;
    border-radius: 20px;
    padding: 15px 30px;
    color: white;
    text-decoration: none;
}

.contenedor-fotos{
    margin: 40px 50px 40px 0;
}

.contenedor-fotos img{
    width: 500px;
    height: 200px;
}

.contenedor-foto1{
    margin-bottom: 20px;
}

.section-home{
    display: flex;
    justify-content:space-around;
    align-items: center;
}

.main{
    min-height: 100vh;
}

.main-servicios{
    min-height: 100vh;
    margin-inline: 30px;
    margin-top: 30px;
}


.footer{
    margin-top: auto;
    background-color: #D4B17B;
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-footer{
    width: 850px;
    display: flex;
    justify-content: space-around;
    margin-left: 40px;
}

.contenedor-footer svg{
    width: 35px;
    height: 35px;
}

.svg {
    display: flex;
    align-items: center;
}

.footer div a  {
    color: black;
    text-decoration: none;
    margin: 20px 10px;
    font-size: 20px;
}

.contenedor-texto{
    background-color:whitesmoke;
    width: 500px;
    height: 500px;
    margin: 10px 450px;
}

.contenedor-texto h2{
    font-weight: 700;
}


.contenedor-h2-p{
    margin-bottom: 100px;
}

.contenedor-h2-p h2{
    font-size: 40px;
}

.contenedor-h2-p p{
    font-size: 20px;
}

.contenedor-h2-p-2 h2{
    font-size: 40px;
}

.contenedor-h2-p-2 p{
    font-size: 20px;
}

.contenedor-cartita{
    margin-block: 10px;
}

.cartita{
    width: 260px;
    background-color:gainsboro;
    padding: 10px;
    border-radius: 12px;
    display: inline-block;
    margin-inline: 30px;
    margin-block: 20px;
}

.cartita-imagen{
    width: 100%;
    margin-bottom: 10px;
}

.cartita-titulo{
    font-weight: 600;
    font-size: 18px;
}

.cartita-parrafo{
    font-size: 14px;
}

.cartita-button{
    background-color: #D4B17B;
    color: whitesmoke;
    font-weight: 700;
    border: none;
    padding: 10px;
    border-radius: 12px;
    margin-inline: 80px;
}

.main-galeria{
    min-height: 100vh;
    margin-inline: 30px;
    margin-top: 30px;
}

.cartita-galeria{
    width: 100%;
}

.carta{
    width: 260px;
    padding: 10px;
    display: inline-block;
    margin-inline: 30px;
    margin-block: 20px;
}






